<template>
    <main class="section">
        <section class="settings">

        </section>
    </main>
</template>


<style lang="stylus" scoped>

.settings
    display: flex
    flex-flow: column
    align-items: center

</style>
